# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Selenide
build/reports/
build/test-results/